@import './mixins.scss';

.header {

    .mock-logo {
        grid-column: 1 / span 4;
        z-index: 10;
        margin: 5px 0 0 5px;
    }    

    .hamburger-icon {
        margin: 5px 10px 0 0;
        position: relative;
        z-index: 10;
        grid-column: 20 / -1;

        @include lg-to-max {
            display: none;
        }

        div {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0 0 auto;
        }
    }

    .navigation {
        display: none;
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        padding-top: 100px;
        height: 100%;
        opacity: 0.9;
        width: 100%;
        padding: 60px 20px 20px 20px;
        box-sizing: border-box;

        a {
            // width: fit-content;
            text-decoration: none;
            border-bottom: 1px solid #999;
            margin-top: 8px;
            padding-bottom: 10px;
        }

        &__item {
            grid-column: 1 / -1;
            color: #000;
            font-size: 40px;
            font-weight: 600;

            &-nested {
                display: flex;
                color: #000;
                flex-direction: column;
                margin-top: 15px;
                font-size: 26px;
                font-weight: 400;
            }
        }

        @include lg-to-max {
            grid-column: 7 / -1;
            background: #ffaabb;

            &__item {
                grid-column: span 4;
                background: #ffaa;
                padding: 10px;
                text-align: right;
        
                &-nested {
                    display: none;
                }
        
                &:hover {
                    cursor: pointer;
        
                    .navigation__item-nested {
                        display: block;
                    }
                }
            }
        }
    }

    .menu-open {
        display: grid;
    }
}
