@import "./reset.scss";
@import "./landing.scss";
@import "./header.scss";
@import "./fonts.scss";


.main-container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
}

.margin-auto {
    margin: 0 auto;
}


