@import "colors";
@import "./landing.scss";
@import "./navigation.scss";


.container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 5px;
}

.margin-auto {
    margin: 0 auto;
}

.mock-logo {
    grid-column: 1 / span 4;
}
