
.navigation {
    grid-column: 7 / -1;
    background: #ffaabb;
    display: block;

    &__item {
        grid-column: span 4;
        background: #ffaa;
        padding: 10px;
        text-align: right;

        &-nested {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .navigation__item-nested {
                display: block;
            }
        }
    }
}